
name: Update Dev Branch

on:
  workflow_call:

jobs:
  update-dev:
    runs-on: ubuntu-24.04
    steps:
    - name: Install Ubuntu Dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y mesa-utils xvfb x11-xserver-utils nodejs npm

    - name: Checkout MMXXL repo
      uses: actions/checkout@v5
      with:
        repository: GTNewHorizons/MergeMasterXXL
        path: MergeMasterXXL

    - name: Install MMXXL Node Dependencies
      working-directory: MergeMasterXXL
      run: |
        npm install

    - name: Checkout Mod Repo
      uses: actions/checkout@v5
      with:
        path: MergeMasterXXL/clones/${{ github.GITHUB_REPOSITORY_OWNER }}/${{ github.repository_id }}

    - name: Determine JDK versions
      id: list-jdk-versions
      shell: bash
      run: |
        (
          echo 'java-versions<<EOF'
          echo 8
          echo 17
          echo 21
          if [[ -f MergeMasterXXL/clones/${{ github.GITHUB_REPOSITORY_OWNER }}/${{ github.repository_id }}/gradle/gradle-daemon-jvm.properties ]]; then
            yq -pprops -oprops '.toolchainVersion' MergeMasterXXL/clones/${{ github.GITHUB_REPOSITORY_OWNER }}/${{ github.repository_id }}/gradle/gradle-daemon-jvm.properties
          fi
          echo EOF
        ) | tee -a "${GITHUB_OUTPUT}"

    - name: Set up JDK versions
      uses: actions/setup-java@v5
      with:
        java-version: ${{ steps.list-jdk-versions.outputs.java-versions }}
        distribution: 'zulu'

    - name: Install Mergiraf
      run: |
        wget https://codeberg.org/mergiraf/mergiraf/releases/download/latest/mergiraf_x86_64-unknown-linux-gnu.tar.gz
        tar -zxvf ./mergiraf_x86_64-unknown-linux-gnu.tar.gz -C ${{ github.GITHUB_PATH }}
        chmod +x ${{ github.GITHUB_PATH }}/mergiraf
        git config --global merge.mergiraf.name mergiraf
        git config --global merge.mergiraf.driver '${{ github.GITHUB_WORKSPACE }}/mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L'
        echo '* merge=mergiraf' >> ~/.gitattributes

    - name: Update Dev Branch
      working-directory: MergeMasterXXL
      run: |
        npm run update-dev ${{ github.GITHUB_REPOSITORY_OWNER }}/${{ github.repository_id }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag Master & Dev If Possible
      working-directory: MergeMasterXXL
      run: |
        npm run tag-dev ${{ github.GITHUB_REPOSITORY_OWNER }}/${{ github.repository_id }} || true
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
